.clearfix::before,.clearfix::after{
    content: '';
    display:table;
    clear:both;
}

body{
    font:14px/1.5;
    color:#333;
    min-width: 1226px;
}
.w{
    width:1226px;
    margin:0 auto;
}
ul{
    margin:0;
}
li{
    list-style: none;
    float:left;
}
a{
    text-decoration: none;
    color:#b0b0b0;
    display:block;  /*让a附近的区域都可以点*/
}
a:hover{
    color:#fff;
}